<ion-list>
  <ion-title class="skip-text" (click)="navigateToLoginPage()">Skip</ion-title>
</ion-list>
<ion-content class="vertical-align-content" center text-center lines='none' [@fadeUp]>
  <div class="background">
    <div class="circle">
      <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="scene">
        <div class="sun"></div>
        <div class="moon"></div>
        <div class="street">
          <div class="buildings">
            <img src="assets/images/loginlogo.png" alt="login logo" width="200">
          </div>
          <div class="ground"></div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer lines='none'>
</ion-footer>