.masters{
    --background: linear-gradient(to right, 
    #2e658a 60% 60%, white 40% 40%);
}
// .arrow-icon{
//     color: rgb(63, 8, 8) !important;    // font-size: 1.4em;
// }
.services{
    color: #fff;
    font-size: 1.5em;
    margin-top: 5px;
}
// .ion-list {
//     background: none;
// }
// .input-wrapper{
//     background-color: saddlebrown;
// }