.masters{
    --background: linear-gradient(to right, 
    #2e658a 60% 60%, #dbebec 40% 40%);
}

.services{
    color: #fff;
    font-size: 1.5em;
    margin-top: 30px;
}

ion-icon{
    color: #fff;
    font-size: x-large;
    margin:10px;
}

.ion-text-justify h3{
    padding-top: 15%;
    color: #255c84;
}
