
.login-text{
    margin-top: 10px;
    color: #3c6f91 !important;
    width: 100%;
    font-weight: bold;;
    font-size: 2em;
    padding: 30px;
}
.label-item{
    font-size: 1.3em !important;
    color: #3c6f91;
}
form{
    padding: 30px;
}

.agree a{
    text-decoration: none;
    color: #547891 ;
    margin-top: 30px;
    margin-bottom: 30px;
}
.register{
    margin-top: 30px;
}

.register a{
    text-decoration: none;
}
.sign-in-btn{
    background-color: #255d84 !important;
    font-size: 20px;
    height: 40px;
}

