



ion-header ion-list ion-item{
   display: inline-block;
   font-size: 20px;
}
ion-header ion-list:nth-child(1) {
   float: left;
 }

.userName{
   float: right;
}
.userName ion-item{
   text-transform: capitalize !important;
}
.services{
   // margin-left: 30px;
}
.searchMain{
   text-align: left;
}
.services-color{
   color: #765b85;
   font-size: 1.4em !important;
}
.user-color{
   color: #255c84;
   font-weight: bolder;
   font-size: 1.4em !important;
}

.search {
	display: inline-block;
	position: relative;
	height: 35px;
	width: 35px;
	box-sizing: border-box;
	margin: 0px 8px 7px 0px;
	padding: 2px 0px 0px 9px;
	border: 3px solid #000;
	border-radius: 25px;
	transition: all 200ms ease;
	cursor: text;
	
	&:after {
		content: "";
		position: absolute;
		width: 3px;
		height: 20px;
		right: -5px;
		top: 21px;
		background: #000;
		border-radius: 2px;
		transform: rotate(-45deg);
		transition: all 200ms ease;
	}
	
	&.active,
	&:hover {
		width: 150px;
		margin-right: 0px;
		
		&:after {
			height: 0px;	
		}
	}
	
	input {
		width: 100%;
		border: none;
		box-sizing: border-box;
		font-family: Helvetica;
		font-size: 15px;
		color: inherit;
		background: transparent;
		outline-width: 0px;
	}
}

ion-content{
   ion-list{
      width: 100%;
      margin-top: 30px !important;
      ion-item{
         padding: 0 !important;
      }
      .view-all{
         text-align: -webkit-right !important;
         color: #9bb5c7;
         padding: 0;
         font-size: inherit;
      }
      .architecture, .construction, .interior-design{
         padding: 0;
         color: #2e658a;   
      }
      .architecture-body {
      margin-bottom: 20px;
      }
      ion-img-viewer:nth-child(1){
         width: 47%;
         height: 120px !important;
         display: inline;
         margin: 0px 20px 0px 0px;
         padding-bottom: 20px;
      }
      ion-img-viewer:nth-child(2){
         width: 47%;
         height: 120px !important;
         display: inline;
         margin: 0px !important;
         padding-bottom: 20px;
      }
   }
}