<ion-header no-header>
  <ion-list class="searchMain">
    <ion-item lines='none'>
      <div class="cntr">
        <div class="cntr-innr">
          <label class="search" for="inpt_search">
            <input id="inpt_search" type="text" />
          </label>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-list class="userName">
    <ion-item lines='none' class="user-color">{{userdetails.name}}</ion-item>
  </ion-list>
  <ion-list class="services">
    <ion-item lines='none' class="services-color">Services</ion-item>
  </ion-list>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item lines='none'>
      <ion-title class="architecture">Architecture</ion-title>
      <ion-title class="view-all" (click)="architectureList()">View all</ion-title>
    </ion-item>
    <ion-item class="architecture-body" lines='none'>
        <ion-img-viewer title="Architecture" *ngFor="let image of architectureImg" scheme="light" src={{image}}></ion-img-viewer>
    </ion-item>
    <ion-item lines='none'>
      <ion-title class="architecture">Construction</ion-title>
      <ion-title class="view-all" (click)="constructionList()">View all</ion-title>
    </ion-item>
    <ion-item class="architecture-body" lines='none'>
      <ion-img-viewer title="Construction" *ngFor="let image of constructionImg" scheme="light" src={{image}}></ion-img-viewer>
    </ion-item>
    <ion-item lines='none'>
      <ion-title class="architecture">Interior Design</ion-title>
      <ion-title class="view-all" (click)="interiordesignList()">View all</ion-title>
    </ion-item>
    <ion-item class="architecture-body" lines='none'>
      <ion-img-viewer title="Interior Design" *ngFor="let image of interiordesignImg" scheme="light" src={{image}}></ion-img-viewer>
    </ion-item>
  </ion-list>
</ion-content>