
<ion-content>
  <ion-toolbar class="tool-bar">
    <ion-title class="login-logo">
        <ion-title class="login-text">Enter OTP</ion-title>
    </ion-title>
    <ion-buttons slot="start" (click)="myBackButton()">
      <ion-icon slot="start" class="arrow-icon" name="arrow-back"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

  <div class="center logo-email">
    <img src="assets/images/emai2.PNG" alt="login logo" width="120">
  </div>
  <div class="pass-email">
    <ion-title class="title-password">Please enter your the Verification Code</ion-title>
    <ion-title class="title-password">We have sent a verification code to your registered email ID
    </ion-title>
  </div>

  <form  #contactForm="ngForm" (ngSubmit)="submitdata(contactForm.value)">
    <ion-list>
      <ion-row class="center">
        <ion-col>
          <ion-input type="Number" maxlength="1" #otp1 required maxLength="1" 
          name="one" [(ngModel)] = "one" (keyup)="otpController($event,otp2,'')">
          </ion-input>
          <ion-input type="Number" #otp2 required maxLength="1" 
          name="two" [(ngModel)] = "two"
          (keyup)="otpController($event,otp3,otp1)">
          </ion-input>
          <ion-input type="Number" #otp3 required maxLength="1" 
          name="three" [(ngModel)] = "three" (keyup)="otpController($event,otp4,otp2)">
          </ion-input>
          <ion-input type="Number" #otp4 required maxLength="1" 
          name="four" [(ngModel)] = "four" (keyup)="otpController($event,'',otp3)">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-button lines='none' expand="block" color="tertiary-shade" 
    class="ion-text-capitalize sign-in-btn" type="submit">Done</ion-button>
  </form>

</ion-content>