<ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="assets/images/profile_img.jpg" alt="">
        <ion-label>
          <h2>Dr. Hamad Fakih</h2>
          <p>Dermathologist</p>
        </ion-label>
      </div>
      <div class="action-button">
          <ion-button><ion-icon slot="start" name="add"></ion-icon> Add Branch</ion-button>
      </div>
      <ion-list lines="none" class="menu-items">
        <ion-item>
          <ion-icon name="pie-chart-outline"></ion-icon> Dashboard
        </ion-item>
        <ion-item>
          <ion-icon name="browsers-outline"></ion-icon> Post session
        </ion-item>
        <ion-item class="active">
          <ion-icon name="flash"></ion-icon> Live session
        </ion-item>
        <ion-item>
          <ion-icon name="chatbubble-ellipses-outline"></ion-icon> Messages
        </ion-item>
        <ion-item>
          <ion-icon name="heart-outline"></ion-icon> Locum library
        </ion-item>
        <ion-item>
          <ion-icon name="exit-outline"></ion-icon> Sign out
        </ion-item>
      </ion-list>
</ion-content>
