
.login-text{
    margin-top: 0px;
    color: #3c6f91 !important;
    width: 100%;
    font-weight: bold;
    padding: 0;
    font-size: 1.4em;
}
.arrow-icon{
    color: #3c6f91 !important;
    // font-size: 1.4em;
}
.title-password{
    color: #3c6f91 !important;
    font-size: 1em;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 30px;
}
.logo-email img{
    text-align: center;
}
.label-item{
    font-size: 1.3em !important;
    color: #3c6f91;
}
form{
    padding: 30px;
}


.register{
    margin-top: 30px;
}

.register a{
    text-decoration: none;
}
.sign-in-btn{
    margin-top: 40px;
    background-color: #255d84 !important;
    font-size: 20px;
    height: 40px;
}
.tool-bar{
    margin-top: 40px;
    margin-bottom: 30px;
}
